<div class="mt-3 col-9 contenedor_registro">
  <h2 class="nombrefase text-center py-2">Registro De Alimentos</h2>
  <div class="page-header">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <div class="row mt-3 px-md-3">
        <!-- job -->
        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Nombre del Alimento</mat-label>
            <input  id="nameFase"
                    type="text"
                    matInput formControlName="nombre_alimento"
                    placeholder="Nombre del Alimento">
            <mat-error *ngIf="form.hasError('nombre_alimento') && !form.hasError('required')">
              por favor registra el nombre del alimento
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              Nombre del Alimento <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Materia Seca</mat-label>
            <input  id="nameFase"
                    type="number"
                    matInput formControlName="materia_seca"
                    placeholder="materia_seca">
            <mat-error *ngIf="form.hasError('materia_seca') && !form.hasError('required')">
              por favor registra la materia_seca
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              Materia seca  <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>e_m_aves</mat-label>
            <input  id="e_m_aves"
                    type="number"
                    matInput formControlName="e_m_aves"
                    placeholder="e_m_aves">
            <mat-error *ngIf="form.hasError('e_m_aves') && !form.hasError('required')">
              por favor registra la e_m_aves
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              e_m_aves <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>e_m_cerdos</mat-label>
            <input  id="e_m_cerdos"
                    type="number"
                    matInput formControlName="e_m_cerdos"
                    placeholder="e_m_cerdos">
            <mat-error *ngIf="form.hasError('e_m_cerdos') && !form.hasError('required')">
              por favor registra la e_m_cerdos
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              e_m_cerdos <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>



        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>proteina_cruda</mat-label>
            <input  id="proteina_cruda"
                    type="number"
                    matInput formControlName="proteina_cruda"
                    placeholder="proteina_cruda">
            <mat-error *ngIf="form.hasError('proteina_cruda') && !form.hasError('required')">
              por favor registra la proteina_cruda
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              proteina_cruda <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>fibra_cruda</mat-label>
            <input  id="fibra_cruda"
                    type="number"
                    matInput formControlName="fibra_cruda"
                    placeholder="fibra_cruda">
            <mat-error *ngIf="form.hasError('fibra_cruda') && !form.hasError('required')">
              por favor registra la fibra_cruda
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              fibra_cruda <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>



        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>ext_etereo</mat-label>
            <input  id="ext_etereo"
                    type="number"
                    matInput formControlName="ext_etereo"
                    placeholder="ext_etereo">
            <mat-error *ngIf="form.hasError('ext_etereo') && !form.hasError('required')">
              por favor registra la ext_etereo
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              ext_etereo <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>



        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>calcio</mat-label>
            <input  id="calcio"
                    type="number"
                    matInput formControlName="calcio"
                    placeholder="calcio">
            <mat-error *ngIf="form.hasError('calcio') && !form.hasError('required')">
              por favor registra la calcio
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              calcio <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>




        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>fosf_disp</mat-label>
            <input  id="fosf_disp"
                    type="number"
                    matInput formControlName="fosf_disp"
                    placeholder="fosf_disp">
            <mat-error *ngIf="form.hasError('fosf_disp') && !form.hasError('required')">
              por favor registra la fosf_disp
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              fosf_disp <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>




        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>sodio</mat-label>
            <input  id="sodio"
                    type="number"
                    matInput formControlName="sodio"
                    placeholder="sodio">
            <mat-error *ngIf="form.hasError('sodio') && !form.hasError('required')">
              por favor registra la sodio
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              sodio <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>




        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>arginina</mat-label>
            <input  id="arginina"
                    type="number"
                    matInput formControlName="arginina"
                    placeholder="arginina">
            <mat-error *ngIf="form.hasError('arginina') && !form.hasError('required')">
              por favor registra la arginina
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              arginina <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>




        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>lisina</mat-label>
            <input  id="lisina"
                    type="number"
                    matInput formControlName="lisina"
                    placeholder="lisina">
            <mat-error *ngIf="form.hasError('lisina') && !form.hasError('required')">
              por favor registra la lisina
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              lisina <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>




        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>metionina</mat-label>
            <input  id="metionina"
                    type="number"
                    matInput formControlName="metionina"
                    placeholder="metionina">
            <mat-error *ngIf="form.hasError('metionina') && !form.hasError('required')">
              por favor registra la metionina
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              metionina <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>triptofano</mat-label>
            <input  id="triptofano"
                    type="number"
                    matInput formControlName="triptofano"
                    placeholder="triptofano">
            <mat-error *ngIf="form.hasError('triptofano') && !form.hasError('required')">
              por favor registra la triptofano
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              triptofano <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>




        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>met_cis</mat-label>
            <input  id="nameFase"
                    type="number"
                    matInput formControlName="met_cis"
                    placeholder="met_cis">
            <mat-error *ngIf="form.hasError('met_cis') && !form.hasError('required')">
              por favor registra la met_cis
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              met_cis <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>




        <div class="form-group col-12 col-sm-6 col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>treonina</mat-label>
            <input  id="treonina"
                    type="number"
                    matInput formControlName="treonina"
                    placeholder="treonina">
            <mat-error *ngIf="form.hasError('treonina') && !form.hasError('required')">
              por favor registra la treonina
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              treonina <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 mt-3">
          <mat-form-field appearance="fill">
            <mat-label>Choose an option</mat-label>
            <mat-select formControlName="tipo_nutriente_id" >
              <mat-option *ngFor="let tiponutriente of tiponutriente" [value]="tiponutriente.id_tipo_nutriente">{{tiponutriente.nombre_tipo_nutriente}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 mt-3">
          <mat-form-field appearance="fill">
            <mat-label>Regiones</mat-label>
            <mat-select formControlName="regiones_ids" multiple>
              <mat-option *ngFor="let region of listregiones" [value]="region.id_region">{{region.nombre_region}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>
      <div class="text-center my-3">
        <button type="submit " class="btn btn-guardar-registro">Enviar</button>
      </div>
    </form>
  </div>
</div>
