
<main class="main">
    <div class="main_section-1">
        <div class="main_logos">
            <img src="../../../assets/img/logo-sena orange.png" alt="logo-sena" class="main_logos-logo">
        </div>
        <div class="main_text">
            <h1 class="main_title">BIENVENIDO A</h1>
            <div>
                <img src="../../../assets/logos/Logo final-05.png" alt="cuy" class="img-fluid">
                
            </div>

        </div>

    </div>
    <div class="main_section_2">
            <img src="../../../assets/img/imgBienvenida1Diseño.png" alt="" class="main_section_2-image">
    </div>
</main>
