<nav class="nav-bar">
    <ul>        
        <div class="logo">
            <img src="../../../assets/logos/Logo final-07.png" alt="logo-sena" class="nav_logo">
        </div>
        <li> <a class="nav_link" href="">¿Quiénes somos?</a></li>
        <li> <a class="nav_link" href="">Infórmate</a></li>
        <li> <a class="nav_link" href="">Contáctanos</a></li>
        <li class="login-button"> <a href="" class="nav_login">Iniciar sesión</a></li>
    </ul>
</nav>
<main class="main">
    <div class="main_section-1">
        <div class="main_text">
            <h1 class="main_title">Conoce nuestra nueva App SEN</h1>
            <p class="main_paragraph">SEN es una aplicación móvil que permite crear preparaciones alimenticias que se adaptan especialmente a las diferentes especies según la fase en la que se encuentran</p>

        </div>
        <div class="main_logos">
            <img src="../../../assets/img/logo-sena orange.png" alt="logo-sena" class="main_logos-logo">
            <img src="../../../assets/img/logo-sena orange.png" alt="logo-sena" class="main_logos-logo">
        </div>

    </div>
    <div class="main_section_2">
            <img src="../../../assets/img/ImgLandingDiseño.png" alt="" class="main_section_2-image">
    </div>
</main>
