.nav-bar {
    background-color: #39A900;
    color: #F3F4F4;
    height: 12vh;
 
    

}

.nav_logo{
    width: 4em;
    margin: 0 auto;

}

.nav_link {
    text-decoration: none;
    color: white;

}

.nav_link:hover{
    color: orange;
}


.nav_login{
    text-decoration: none;
    color: white;
    border-radius: 1em;
    border: 1px solid grey;
    padding: 1em;
    transition: transform .2s;
    width: 1em;
    height: 1em;
}

.nav_login:hover{

    transform: scale(1.2);
    
    color: green;
    
}




ul {
    display: flex;
    padding: 1.5em;
    justify-content: space-between;


}


nav > ul > li {
    padding: .5em;
    justify-content: space-between;
    list-style: none;

}



a :hover{
    color: grey;


}

.main_section{
    background-color: #F3F4F4;
}
.main_section-1{
    display: flex;
    padding: 80px;
    flex-direction: column;
    justify-content: center;
}

/* .main_section_2{

} */


.main_section_2-image{
    width: 800px;
}


.main_title{
    padding-bottom: 4rem;
    color: #39A900;
    font-weight: 700;
}

.main_logos-logo1{
    width: 130px;
    margin-left: 3rem;
}
.main_logos-logo2{
    width: 160px;
    margin-left: 3rem;
}

.main{
    display: flex;
    
    height: 85vh;
}
.main_text{
    display: flex;
    flex-direction: column;
    
    
}

.main_paragraph{
    padding-bottom: 7rem;
    font-size: large;
    font-weight: bold;
    color: #908C8C;
}

.main_logos{
    display: flex;
    justify-content: start;

}


