<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <div class="fadeIn first">
            <h1>Iniciar Sesión</h1>
          </div>
          <br>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            <label for="correo" class="formulario__label">Correo Electrónico</label>
            <input
              type="text"
              id="usuario"
              class="fadeIn second"
              placeholder="login"
              formControlName="identificacion"
            />
            <br><br>
            <label for="correo" class="formulario__label">Contraseña</label>

            <input
            id="password"
            type="password"
            Class="fadeIn second"
            placeholder="password"
            formControlName="pasword"
          />
          <br><br>
            <input class="" value="ingresar"
            type="submit"/>
          </form>
        </div>
      </div>
</body>
</html>
