BODY
<div class="container">

    <!--Encabezado-->
    <div class="header">

        <div class="animals-title">
            <h1>Titulo 1 - Plantilla tabla</h1>
        </div>
        <!--Contenedor buscar-->
        <div class="inputWithIcon">
            <input class="form-control" type="search" placeholder="Buscar">
            <i class="bi bi-search"></i>
        </div>

        <!--Boton Agregar-->
        <div class="add">
            <!-- Boton: Agregar -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
      Agregar
    </button>
            <!-- Modal: Agregar -->
            <div class="modal fade " id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Registrar Animal</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col text-center">
                                    <label class="text">Especie &nbsp;&nbsp;</label>
                                    <input class="input" type="text" placeholder="Nombre de la Especie">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <a type="button" class="btn btn-primary" href="registro.component.html">Registrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Tabla-->
    <div class="user-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="radius" scope="col"></th>
                    <th class="sticky" cope="col">Id</th>
                    <th scope="col">Nombre fase</th>
                    <th scope="col">MS %</th>
                    <th scope="col">EM AVES Kg</th>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre fase</th>
                    <th scope="col">MS %</th>
                    <th scope="col">EM AVES Kg</th>
                    <th scope="col">Proteina cruda %</th>
                    <th scope="col">Fibra cruda %</th>
                    <th scope="col">Ext etereo %</th>
                    <th scope="col">Calcio %</th>
                    <th scope="col">Fosforo Disp %</th>
                    <th scope="col">Sodio %</th>
                    <th scope="col">Ardinina %</th>
                    <th scope="col">EM AVES Kg</th>
                    <th scope="col">Lisina %</th>
                    <th scope="col">Meteonina %</th>
                    <th scope="col">Met+Cis %</th>
                    <th scope="col">Treonina %</th>
                    <th scope="col">Triptofano %</th>
                    <th scope="col">Ceniza %</th>
                    <th scope="col">Codigo de especie</th>
                    <th scope="col" class="action">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"></td>
                    <td>Información</td>
                    <td>Información muy larga</td>
                    <td>Información</td>
                    <td>Información más larga</td>
                    <td>Información</td>
                    <td>Información muy larga</td>
                    <td>Información</td>
                    <td>Información más larga</td>
                    <td>Información</td>
                    <td>Información muy larga</td>
                    <td>Información</td>
                    <td>Información más larga</td>
                    <td>Información</td>
                    <td>Información muy larga</td>
                    <td>Información</td>
                    <td>Información más larga</td>
                    <td>Información</td>
                    <td>Información muy larga</td>
                    <td>Información</td>
                    <td>Información más larga</td>
                    <td>Información</td>
                    <td>Información muy larga</td>
                    <td>Información</td>

                    <td>
                        <!-- Boton: Editar-->
                        <button type="button" class="btn btn-secondary">Editar</button>

                        <!-- Boton: Ver-->
                        <button type="button" class="btn btn-secondary">Ver</button>

                        <!--Boton: Eliminar-->
                        <button type="button" class="btn btn-secondary">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>