
        <div class="container">
          <!--Encabezado-->
          <div class="header">
              <div class="animals-title px-3">
                  <h1>Detalle preparación</h1>
              </div>
          </div>
          <!--Tabla-->
          <div class="row mt-3 px-md-3">
          <!-- <div class="form-group col-12 col-sm-6 col-md-4"> -->
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th class="radius" scope="col">alimentos usados</th>
                      <th class="radius" scope="col">proteina_cruda</th>
                      <th class="radius" scope="col">energia</th>
                      <th class="radius" scope="col">fosforo</th>
                      <th class="radius" scope="col">fibra</th>
                      <th class="radius" scope="col">lisina</th>
                      <th class="radius" scope="col">meteonina</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="mb-2" *ngFor="let aliment of alimentosfiltrados[0].PreparacionesAlimentos
                  | paginate: { itemsPerPage: pages, currentPage: pageActual }">
                      <td scope="row">{{aliment.Alimento.nombre_alimento}}</td>
                      <td scope="row">{{aliment.cantidad_proteina}}</td>
                      <td scope="row">{{aliment.cantidad_energia}}</td>
                      <td scope="row">{{aliment.cantidad_fosforo}}</td>
                      <td scope="row">{{aliment.cantidad_fibra}}</td>
                      <td scope="row">{{aliment.cantidad_lisina}}</td>
                      <td scope="row">{{aliment.cantidad_metionina}}</td>
                  </tr>
                  <!-- <tr>
                    <td scope="row">Balance</td>
                    <td scope="row">fasd</td>
                    <td scope="row">fasd</td>
                    <td scope="row">fasd</td>
                    <td scope="row">fasd</td>
                    <td scope="row">fsd</td>
                    <td scope="row">fasd</td>
                </tr>
                <tr>
                    <td scope="row">Total</td>
                </tr> -->
              </tbody>
          </table>
          <pagination-controls
              (pageChange)="pageActual = $event"
              previousLabel="Anterior  "
              nextLabel="Siguiente"
            ></pagination-controls>

            <!-- <table class="table table-striped" *ngIf="alimentosfiltrados.length == 0">
              <thead>
                  <tr>

                  </tr>
              </thead>
              <tbody>
                 <h1>no se en cuentran datos </h1>
              </tbody>
          </table> -->
        </div>
      <!-- </div> -->


      </div>
