
        <div class="container">
          <!--Encabezado-->
          <div class="header">
              <div class="animals-title px-3">
                  <h1>Detalle preparación</h1>
              </div>
          </div>
          <!--Tabla-->
          <div class="row mt-3 px-md-3">
          <!-- <div class="form-group col-12 col-sm-6 col-md-4"> -->
          <table class="table table-striped" *ngIf="alimentos != null ||alimentos != [] ">
              <thead>
                  <tr>
                      <th class="radius" scope="col">alimentos usados</th>
                      <th class="radius" scope="col">proteina_cruda</th>
                      <th class="radius" scope="col">energia</th>
                      <th class="radius" scope="col">fosforo</th>
                      <th class="radius" scope="col">fibra</th>
                      <th class="radius" scope="col">lisina</th>
                      <th class="radius" scope="col">meteonina</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let u of alimentosfiltrados
                  | paginate: { itemsPerPage: pages, currentPage: pageActual }">
                      <td scope="row">{{u[0].nombre_alimento}}</td>
                      <td scope="row">{{u[0].proteina_cruda}}</td>
                      <td scope="row">{{u[0].e_m_cerdos}}</td>
                      <td scope="row">{{u[0].fosf_disp}}</td>
                      <td scope="row">{{u[0].fibra_cruda}}</td>
                      <td scope="row">{{u[0].lisina}}</td>
                      <td scope="row">{{u[0].metionina}}</td>
                  </tr>
              </tbody>
          </table>
          <pagination-controls
              (pageChange)="pageActual = $event"
              previousLabel="Anterior  "
              nextLabel="Siguiente"
            ></pagination-controls>

            <table class="table table-striped" *ngIf="alimentos.length == 0">
              <thead>
                  <tr>

                  </tr>
              </thead>
              <tbody>
                 <h1>no se en cuentran datos </h1>
              </tbody>
          </table>
        </div>
      <!-- </div> -->


      </div>
