<div class=" container">
    <form class="row form-container d-flex justify-content-center needs-validation novalidate form-floating w-50" >
      <h1 class="text-center py-3 titulo">Registro Usuario</h1>
  
      <div class="form-group col-12 col-md-6 ">
        <label class="h6 titulos">Nombre</label> <br>
        <input formControlName="nombres" id="porcentajeMS" type="text" class="form-control w--md-75">
      </div>
      <div class="form-group col-12 col-md-6 ">
        <label class="h6 titulos">Apellido</label><br>
        <input formControlName="e_m_ave" id="emaves" type="text" class="form-control w--md-75">
  
      </div>
      <div class="form-group col-12 col-md-6 ">
        <label class="h6 titulos">Identificacion</label><br>
        <input formControlName="e_d_cerdo" id="emceerdos" type="text" class="form-control w--md-75">
      </div>
      <div class="form-group col-12 col-md-6 ">
        <label class="h6 titulos">Numero Celular</label> <br>
        <input formControlName="celular" id="proteinacruda" type="text" class="form-control w--md-75">
      </div>
      <div class="form-group col-12 col-md-6 ">
        <label class="h6 titulos">Correo Electronico</label><br>
        <input formControlName="e_d_cerdo" id="emceerdos" type="text" class="form-control w--md-75">
      </div>
      <div class="form-group col-12 col-md-6 ">
        <label class="h6 titulos">Region</label> <br>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seleccione Region
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Reg. Sur</a>
            <a class="dropdown-item" href="#">Macizo</a>
            <a class="dropdown-item" href="#">Bota Caucana</a>
            <a class="dropdown-item" href="#">Reg. Centro</a>
            <a class="dropdown-item" href="#">Reg. Oriente</a>
            <a class="dropdown-item" href="#">Reg. Norte</a>
          </div>
        </div></div>
  
      <div class="d-flex justify-content-center">
        <button class="btn btn-registrar my-4 p-2">Registar</button>
      </div>
    </form>
  </div>
