<div class="container col-lg-6 mt-5 containerDetalle">
    <h4 class="py-2 h4 text-center nombrefase">"Nombre Fase"</h4>
    
    <div class="row mt-4 ms-md-3">
        <p class="col-6 col-md-4"><span class="h6 subtitulos">No. requerimiento</span> <br> 1</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Nombres de la fase</span> <br> Cerdo inicio</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">MS %</span> <br> 0.23</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">EM AVES Kg</span> <br> 0.12</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">EM Cerdos Kg</span> <br> 1.44</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Proteina cruda %</span> <br> 0.19</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Fibra cruda %</span> <br> 0.99</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Ext etereo %</span> <br> 2.35</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Calcio %</span> <br> 0.13</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Fosforo Disp %</span> <br> 1.56</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Sodio %</span> <br> 1.35</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Ardinina %</span> <br> 3.00</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Lisina %</span> <br> 2.22</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Meteonina %</span> <br> 1.45</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Met+Cis %</span> <br> 1.78</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Treonina %</span> <br> 0.78</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Triptofano %</span> <br> 34.6</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Ceniza %</span> <br> 23.0</p>
        <p class="col-6 col-md-4"><span class="h6 subtitulos">Codigo de especie</span> <br> 1</p>
    </div>
    <div class="d-flex justify-content-center col-12 mb-3  text-end">
        <a href="../" type="submit" class="btn btn-atras">Atras</a>
    </div>

</div>