@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
 
 .containerDetalle{
    font-family: 'Work Sans', sans-serif;
} 
.nombrefase{
    color: #39a900;
    text-decoration: underline #39a900;
    font-size: 32px;
}
.subtitulos{
    color: #908C8C;
    font-size: 20px;
}
.containerDetalle p{
    font-size: 18px;
}
.btn-atras{
    background-color: #FFCE40;
    color: white;
    font-size: 20px;
}