<div class="m-auto mt-3 col-9 contenedor_registro">
    <h4 class="nombrefase text-center py-2">Registro De Fase</h4>
    <div class="page-header">

      <form [formGroup]="loginRegister"  (submit)="RegisterAnimal(loginRegister.value)">
        <div class="row mt-3 px-md-3">

          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <!-- name -->
            <label class="h6 titulos">No. requerimiento:</label>
            <br>
            <input formControlName="idRequerimiento_animal" id="NoRequerimiento" type="text"
              class="form-control w--md-75">
          </div>
          <!-- job -->
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Nombres de la fase:</label><br>
            <input formControlName="nombre_fase" id="nameFase" type="text" class="form-control w--md-75">
          </div>



          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">MS %:</label> <br>
            <input formControlName="m_s" id="porcentajeMS" type="text" class="form-control w--md-75">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">EM AVES Kg:</label><br>
            <input formControlName="e_m_ave" id="emaves" type="text" class="form-control w--md-75">

          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">EM Cerdos Kg:</label><br>
            <input formControlName="e_d_cerdo" id="emceerdos" type="text" class="form-control w--md-75">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Proteina cruda %:</label> <br>
            <input formControlName="proteina" id="proteinacruda" type="text" class="form-control w--md-75">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Fibra cruda %:</label><br>
            <input formControlName="fibra_cruda" id="fibracruda" type="text" class="form-control w--md-75">

          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Ext etereo %:</label> <br>
            <input formControlName="ext_etereo" id="extetereo" type="text" class="form-control w--md-75">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Calcio %:</label><br>
            <input formControlName="calcio" id="calcio" type="text" class="form-control w--md-75">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Fosforo Disp %:</label> <br>
            <input formControlName="fosforo" id="fosforo" type="text" class="form-control w--md-75">

          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Sodio %:</label><br>
            <input formControlName="sodio" id="sodio" type="text" class="form-control w--md-75">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Ardinina %:</label> <br>
            <input formControlName="adrinina" id="adrinina" type="text" class="form-control w--md-75">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Lisina %:</label><br>
            <input formControlName="lisina" id="lisina" type="text" class="form-control w--md-75">

          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Meteonina %:</label> <br>
            <input formControlName="metronina" id="meteonina" type="text" class="form-control w--md-75">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Met+Cis %:</label><br>
            <input formControlName="met_cis" id="meCis" type="text" class="form-control w--md-75">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Treonina %:</label> <br>
            <input formControlName="treonina" id="treonina" type="text" class="form-control w--md-75">
          </div>

          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Triptofano %:</label><br>
            <input formControlName="triptofano" id="triptofano" type="text" class="form-control w--md-75">
          </div>

          <div class="form-group col-12 col-sm-6 col-md-4 ">
            <label class="h6 titulos">Ceniza %:</label> <br>
            <input formControlName="ceniza" id="ceniza" type="text" class="form-control w--md-75">
          </div>


        </div>


      </form>
    </div>
    <div class="text-center my-3">
      <button type="submit " class="btn btn-guardar-registro">Ingresar</button>
    </div>
  </div>

