<div class="m-auto mt-3 col-9 contenedor_registro">
  <h4 class="nombrefase text-center py-2">Actualizar Usuario : {{userData.nombres}}</h4>
  <div class="page-header">
    <form [formGroup]="formUser" (submit)="updateUser(formUser.value)" >
      <div class="row mt-3 px-md-3">
        <div class="form-group col-12 col-sm-6 col-md-4">
          <!-- name -->
          <label class="h6 titulos">nombres</label>
          <br />
          <input
            formControlName="nombres"
            id="NoRequerimiento"
            type="text"
            class="form-control w--md-75"
          />
        </div>
        <!-- job -->
        <div class="form-group col-12 col-sm-6 col-md-4">
          <label class="h6 titulos">apellidos</label><br />
          <input
            formControlName="apellidos"
            id="nameFase"
            type="text"
            class="form-control w--md-75"
          />
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4">
          <label class="h6 titulos">correo</label> <br />
          <input
            formControlName="correo"
            id="porcentajeMS"
            type="email"
            class="form-control w--md-75"
          />
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4">
          <label class="h6 titulos">celular</label><br />
          <input
            formControlName="celular"
            id="emaves"
            type="text"
            class="form-control w--md-75"
          />
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4">
          <label class="h6 titulos">identificacion</label><br />
          <input
            formControlName="identificacion"
            id="emceerdos"
            type="text"
            class="form-control w--md-75"
          />
        </div>
        <!-- <div class="form-group col-12 col-sm-6 col-md-4">
          <label class="h6 titulos">foto</label> <br />
          <input
            formControlName="foto"
            id="proteinacruda"
            type="text"
            class="form-control w--md-75"
          />
        </div> -->
        <div class="form-group col-12 col-sm-6 col-md-4">
          <label class="h6 titulos">tipo_usuario</label><br />
          <input
            formControlName="tipo_usuario"
            id="fibracruda"
            type="text"
            class="form-control w--md-75"
          />
        </div>
        <!-- <div class="form-group col-12 col-sm-6 col-md-4">
          <label class="h6 titulos">contrasena</label> <br />
          <input
            formControlName="contrasena"
            id="extetereo"
            type="text"
            class="form-control w--md-75"
          />
        </div> -->
         <div class="form-group col-12 col-sm-6 col-md-4 mt-3">
            <mat-form-field appearance="fill">
              <mat-label>{{userData.Regione.nombre_region}}</mat-label>
              <mat-select formControlName="region_id" >
                <mat-option [value]="userData.Regione.nombre_region" *ngFor="let reg of listRegiones" [value]="reg.id_region">{{reg.nombre_region}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div class="text-center my-3">
          <button type="submit " class="btn btn-guardar-registro">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
