<div class="div-12 p-5">
    <div class="card w-25 border-bold">
        <form [formGroup]="postFormulario" (ngSubmit)="postForm(postFormulario.value)">
            <div class="col-12 mb-2 mt-2">
                <h2 class="text-center">Registrar Nutriente</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">nombre del Nutriente</h5>
                <input type="text" class="form-control" formControlName="nombre_tipo_nutriente">
            </div>
            <div class="col-12 d-flex justify-content-center mb-2">
                <button class="verde_principal btn w-50 text-white">Registrar</button>
            </div>
        </form>
    </div>
</div>
