
<!--BODY-->
<div class="container">

  <!--Encabezado-->
  <div class="header">

      <div class="animals-title">
          <h1>Listar - nutrientes</h1>
      </div>
      <!--Contenedor buscar-->
      <div class="inputWithIcon">
          <input class="form-control" type="search" placeholder="Buscar">
          <i class="bi bi-search"></i>
      </div>

      <!--Boton Agregar-->
      <div class="add">
          <!-- Boton: Agregar -->
          <button type="button" class="btn btn-primary" [routerLink]="['/alimentos/registro']">
    Agregar nutriente
  </button>
          <!-- Modal: Agregar -->
          <div class="modal fade " id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Registrar Animal</h5>
                          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                              <div class="col text-center">
                                  <label class="text">Especie &nbsp;&nbsp;</label>
                                  <input class="input" type="text" placeholder="Nombre de la Especie">
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                          <a type="button" class="btn btn-primary" href="registro.component.html">Registrar</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!--Tabla-->
  <div class="user-table">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col" >id</th>
                  <th scope="col" >nutrientes</th>
                  <th scope="col" class="action">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let nutriente of listNutrientes; let i = index">
                  <td scope="row">{{ i}}</td>
                  <td>{{nutriente.nombre_tipo_nutriente}}</td>
                  <td>
                    <div class="input-group ">
                        <select class="form-select select" >
                          <option class="opt" selected>Seleccionar...</option>
                          <option class="opt" value="1">Editar</option>
                          <option class="opt" value="2">ver</option>
                          <option class="opt" value="3">eliminar</option>
                        </select>
                    </div>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>


