
        <div class="container">

            <!--Encabezado-->
            <div class="header">

                <div class="animals-title px-3">
                    <h1>Listar usuarios</h1>
                </div>
                <!--Contenedor buscar-->
                <div class="inputWithIcon">
                    <input class="form-control" type="search" placeholder="Buscar">
                    <i class="bi bi-search"></i>
                </div>

                <!--Boton Agregar-->
                <div class="add">
                    <!-- Boton: Agregar -->
                    <button (click)="registrarUserClick()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" >
                        Agregar usuario
                    </button>
                </div>
            </div>

            <!--Tabla-->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="radius" scope="col">#</th>
                        <th scope="col">nombres</th>
                        <th scope="col">correo</th>
                        <th scope="col">celular</th>
                        <th scope="col">identificacion</th>
                        <!-- <th scope="col">foto</th> -->
                        <th scope="col">tipo_usuario</th>
                        <th scope="col">acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of users">
                        <td scope="row">{{u.id_usuario}}</td>
                        <td>{{u.nombres}}</td>
                        <td>{{u.correo}}</td>
                        <td>{{u.celular}}</td>
                        <td>{{u.identificacion}}</td>
                        <!-- <td>{{u.foto}}</td> -->
                        <td>{{u.tipo_usuario}}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" [routerLink]="['updated/' , u.id_usuario ]"> Editar </button>


                            <button type="button" class="btn btn-secondary">Ver</button>


                            <button type="button" class="btn btn-secondary">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- {{users}} -->

        </div>


