.navBar{
    background-color:  #024B2A;;
}

.nav{
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 20px;
}

.nav-item{
    padding-right: 20px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons.white500 { color: #f7f7f7; }