<!--BODY-->
<div class="container">

    <!--Encabezado-->
    <div class="header">

        <div class="animals-title">
            <h1>Gestionar - Alimentos</h1>
        </div>
        <!--Contenedor buscar-->
        <div class="inputWithIcon">
            <input class="form-control" type="search" placeholder="Buscar">
            <i class="bi bi-search"></i>
        </div>

        <!--Boton Agregar-->
        <div class="add">
            <!-- Boton: Agregar -->
            <button type="button" class="btn btn-primary" [routerLink]="['registro']">
      Agregar alimentos
    </button>
            <!-- Modal: Agregar -->
            <div class="modal fade " id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Registrar Animal</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col text-center">
                                    <label class="text">Especie &nbsp;&nbsp;</label>
                                    <input class="input" type="text" placeholder="Nombre de la Especie">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <a type="button" class="btn btn-primary" href="registro.component.html">Registrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Tabla-->
    <div class="user-table">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col" >Id especie</th>
                  <th scope="col" >Nombre de la Especie</th>
                  <th scope="col" class="action">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let aliment of alimentos
              | paginate: { itemsPerPage: pages, currentPage: pageActual }">
                  <td scope="row">{{aliment.nombre_alimento}}</td>
                  <td>{{aliment.tiponutriente.nombre_tipo_nutriente}}</td>
                  <td>
                      <button [routerLink]="['actualizar/',aliment.id_alimentos]" type="button" class="btn btn-secondary">Editar</button>

                      <!-- <button type="button" class="btn btn-secondary">Ver</button> -->

                      <button (click)="EliminarAlimento(aliment.id_alimentos)" type="button" class="btn btn-secondary">Eliminar</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <pagination-controls
                (pageChange)="pageActual = $event"
                previousLabel="Anterior  "
                nextLabel="Siguiente"
              ></pagination-controls>
    </div>
  </div>
