<div class="div-12 p-5">
        <div class="card w-25 border-bold">
           <form [formGroup]="EspecieForm" (ngSubmit)="ActualizaEspecie()" >
            <div class="col-12 mb-2 mt-2">
                <h2 class="text-center">Editar Especie</h2>
            </div>
            <div class="card-body">
                <h5  class="card-title">nombre de la especie</h5>
                <input formControlName="nombre_especie" type="text" class="form-control">
            </div>
            <div class="col-12 d-flex justify-content-center mb-2">
                <button class="verde_principal btn w-50 text-white">Actualizar</button>
            </div>
           </form>
        </div>
</div>
