<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="verde_principal">
        <div class="sidebar-header">
            <h3>SEN</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="">
                <a  data-toggle="collapse" [routerLink]="['alimentos']" class="" >Alimentos</a>
            </li>
            <li>
                <a [routerLink]="['listarEspecie']" data-toggle="collapse" aria-expanded="false" class="">Especies</a>
            </li>
            <li>
                <a [routerLink]="['listarMunicipios']">Municipios</a>
            </li>
            <li>
                <a [routerLink]="['listarRegiones']">Regiones</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        
    </div>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</div>
